@model IEnumerable<JedjanguiWeb.Models.SoldeFond>

@{
    ViewBag.Title = "balance";
}

<h2>balance</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           
          .NOMEXO 
        </th>
        <th>
           NOMFOND 
        </th>
        <th>
           NOMMEMBRE 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEBIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREDIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLDE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.INSCRISEXERCICE.EXERCICE .NOMEXO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FOND.NOMFOND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INSCRISEXERCICE.MEMBRE.NOMMEMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEBIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREDIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLDE)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CODEFONDMEMEBRE }) |
            @Html.ActionLink("Details", "Details", new { id=item.CODEFONDMEMEBRE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CODEFONDMEMEBRE })
        </td>
    </tr>
}

</table>
