@model JedjanguiWeb.Models.Fond

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fond</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ASSOCIATION.NOMASSO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASSOCIATION.NOMASSO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMFOND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMFOND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMPTEBANQUEFOND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMPTEBANQUEFOND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BANQUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BANQUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OBJECTIFFOND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBJECTIFFOND)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OBLIGATOIRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OBLIGATOIRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TYPEFOND)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TYPEFOND)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CODEFOND }) |
    @Html.ActionLink("Back to List", "Index")
</p>
