@model PagedList.IPagedList<JedjanguiWeb.Models.Fond>
@using PagedList.Mvc;

@{
    ViewBag.Title = JedjanguiWeb.Resources.Layout.Layout.TitreFond;
}

<h2>@JedjanguiWeb.Resources.Layout.Layout.TitreFond</h2>

<p>
    @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.TitreAjouter, "Create")
</p>
<table class="table table-bordered table-striped table-responsive table-hover table-condensed">
    <tr>
         
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NOMFOND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().COMPTEBANQUEFOND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().BANQUE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OBJECTIFFOND)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TYPEFOND)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.NOMFOND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.COMPTEBANQUEFOND)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BANQUE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OBJECTIFFOND)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TYPEFOND)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CODEFOND }) |
                @Html.ActionLink("Details", "Details", new { id = item.CODEFOND }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CODEFOND })
            </td>
        </tr>
    }

</table>

<!--Pagination-->
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
