@model IEnumerable<JedjanguiWeb.Models.Fond>

@{
    ViewBag.Title = "Index";
}

<h2>Les fonds de l'association</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CODEFOND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMFOND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMPTEBANQUEFOND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BANQUE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBJECTIFFOND)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OBLIGATOIRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TYPEFOND)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CODEFOND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMFOND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMPTEBANQUEFOND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BANQUE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBJECTIFFOND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OBLIGATOIRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TYPEFOND)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CODEFOND }) |
            @Html.ActionLink("Details", "Details", new { id=item.CODEFOND }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CODEFOND })
        </td>
    </tr>
}

</table>
