@model IEnumerable<JedjanguiWeb.Models.Seance>

@{
    ViewBag.Title = JedjanguiWeb.Resources.Layout.Layout.TitreSeance ;
}

<h2>@JedjanguiWeb.Resources.Layout.Layout.TitreSeance   @Session["CODEASSO"]</h2>

<p>
    @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.TitreAjouter, "Create")
</p>
<table class=" table table-bordered table-striped table-responsive table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CODESEANCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATESEANCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEBUTSEANCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FINSEANCE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STATUTSEANCE)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.LIEUSEANCE)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CODESEANCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATESEANCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEBUTSEANCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FINSEANCE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUTSEANCE)
        </td>
      
        <td>
            @Html.DisplayFor(modelItem => item.LIEUSEANCE)
        </td>
      
        <td>
            @Html.ActionLink("Ouvrir", "Ouvrir", new { id = item.CODESEANCE }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.CODESEANCE }) |
            @Html.ActionLink("Details", "Details", new { id = item.CODESEANCE }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CODESEANCE })
        </td>
    </tr>
}

</table>
