@model IEnumerable<JedjanguiWeb.Models.Exercice>

@{
    ViewBag.Title = JedjanguiWeb.Resources.Layout.Layout.TitreExercice;
}

<h2>@JedjanguiWeb.Resources.Layout.Layout.TitreExercice</h2>

<p>
    @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.TitreAjouter, "Create")
</p>
<table class="table table-bordered table-striped table-responsive table-hover table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NOMEXO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DEBUTEXO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FINEXO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().STATUTEXO)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FINSAISIE)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.NOMEXO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEBUTEXO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FINEXO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STATUTEXO)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.FINSAISIE)
        </td>
        <td>

            @Html.ActionLink("Ouvri", "Ouvrir", new { id = item.CODEEXO }, new { @class = "glyphicon glyphicon-open" }) |
            @Html.ActionLink("Edit", "Edit", new { id = item.CODEEXO }) |
            @Html.ActionLink("Details", "Details", new { id = item.CODEEXO }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CODEEXO })

        </td>
    </tr>
}

</table>
