@model PagedList.IPagedList<JedjanguiWeb.Models.Pret>

@using PagedList.Mvc;

@{
    ViewBag.Title = @JedjanguiWeb.Resources.Layout.Layout.TitrePret;
}

<h2>@JedjanguiWeb.Resources.Layout.Layout.TitrePret</h2>

<p>
    @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.TitreAjouter, "Create")
</p>
<form class="form-group" action="~/Pret/Index">
    @Html.Label("Chercher")
    <input type="search" name="SearchString" value=@ViewBag.SearchString>
    <input type="submit" class="btn btn-default" />
</form>

<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MEMBRE.NOMMEMBRE)
           
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FOND.NOMFOND)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MONTANTPRET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MONTANTAREMBOURSER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MONTANTREMBOURSER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DATEMISEENPLACE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SOLDEPRET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DATEFINPRET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().VALIDERPRET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().INTERETPRET)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DATEDEBUTPRET)
        </th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EMAIL)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>

                @Html.ActionLink(item.MEMBRE.NOMMEMBRE, "Index", "Remboursementpret", new { idpret= item.CODEPRET}, null)
              

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FOND.NOMFOND)

               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MONTANTPRET)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MONTANTAREMBOURSER)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MONTANTREMBOURSER)
            </td>
            <td>

                @string.Format("{0:d}", item.DATEMISEENPLACE) 
            </td>
<td>
                @Html.DisplayFor(modelItem => item.SOLDEPRET)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATEFINPRET  )
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.VALIDERPRET)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.INTERETPRET)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATEDEBUTPRET )
            </td>
            <td>

                @if (item.VALIDERPRET != true)
          {
        var separator = " ! ";
            @Html.ActionLink("Edit", "Edit", new { id = item.CODEPRET }) ;
            @separator;
            @Html.ActionLink("Valider", "Valider", new { id = item.CODEPRET });
            @separator;
            }

                @Html.ActionLink("Details", "Details", new { id = item.CODEPRET })
                @if (item.VALIDERPRET != true)
                {
                    var separator = " ! ";
                  @Html.ActionLink("Delete", "Delete", new { id = item.CODEPRET });
                    @separator;
                    }

            </td>
            <td>@Html.DisplayFor(modelItem=> item.EMAIL)</td>
        </tr>
    }

</table>
<!-- navigation-->
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))