@model JedjanguiWeb.Models.FondSeance

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>FondSeance</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.CODEFONDSEANCE)
    @Html.HiddenFor(model => model.CODEFOND)
    @Html.HiddenFor(model => model.CODESEANCE)

    @Html.HiddenFor(model => model.DEBITFONDSEANCE)
    @Html.HiddenFor(model => model.CREDITFONDSEANCE)
    @Html.HiddenFor(model => model.MONTANTCOTISATIONAVANT)
    @Html.HiddenFor(model => model.INTERETSEANCEAVANT)

    <div class="row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.MONTANTCOTISATION, htmlAttributes: new { @class = "control-label" })


            @Html.EditorFor(model => model.MONTANTCOTISATION, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MONTANTCOTISATION, "", new { @class = "text-danger" })


        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.INTERETSEANCE, htmlAttributes: new { @class = "control-label" })


            @Html.EditorFor(model => model.INTERETSEANCE, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.INTERETSEANCE, "", new { @class = "text-danger" })


        </div>

    </div>


    <div>
        <h3> Detail des contributions</h3>
        @{
            foreach (var item in Model.MOUVEMENTFOND)
            {
        <div class="form-group col-lg-4 col-md-6">
            <input type="hidden" name="code" value="@item.CODEMVT" />
            <label class="">  @item.FONDEMEMBRE.INSCRISEXERCICE.MEMBRE.NOMMEMBRE </label>
            
            <input type="number" name="montant" value="@item.MONTANTCOTISATIONMVT" class="form-control " min="0" />
        </div>

            }

        }
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
