@model PagedList.IPagedList<JedjanguiWeb.Models.Membre>
@using PagedList.Mvc;
@{
    ViewBag.Title = JedjanguiWeb.Resources.Layout.Text.TitreDuSite + JedjanguiWeb.Resources.Layout.Layout.TitreMembre;
}

<h2>@JedjanguiWeb.Resources.Layout.Layout.TitreMembre</h2>

<p>
    @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.TitreAjouter, "Create")
</p>

<form class="form-inline" action="~/Membre/Index">
   
    @Html.Label(JedjanguiWeb.Resources.Layout.Layout.Chercher)
    <input type="search" class="form-control" name="SearchString" value=@ViewBag.SearchString>
    <input type="submit" class="btn btn-default" />
</form>
<br />
<table class="table table-bordered table-striped table-responsive table-hover table-condensed"  >
    <tr>

        <th>
          @Html.DisplayNameFor(model=>model.FirstOrDefault().CODEMEMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NOMMEMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DATEADEHSIONMEMEBRE)
        </th>

        

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TITREMEMBRE)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ELOGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MATRICULE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CODEMEMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMMEMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATEADEHSIONMEMEBRE)
            </td>

           
            <td>
                @Html.DisplayFor(modelItem => item.TITREMEMBRE)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ELOGE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MATRICULE)
            </td>
            <td>
                <a href=" @Url.Action("Edit", "Membre", new { id = item.CODEMEMBRE })">  <span class="glyphicon glyphicon-edit"></span>     </a>

                @Html.ActionLink("Edit", "Edit", new { id = item.CODEMEMBRE }) |
                <a href=" @Url.Action("Details", "Membre", new { id = item.CODEMEMBRE })"><span class="glyphicon glyphicon-list"></span></a>
                @Html.ActionLink("Details", "Details", new { id = item.CODEMEMBRE }) |
                <a href=" @Url.Action("Details", "Membre", new { id = item.CODEMEMBRE })"><span class="glyphicon glyphicon-remove-circle"></span></a>
                @Html.ActionLink("Delete", "Delete", new { id = item.CODEMEMBRE })
            </td>
        </tr>
    }

</table>
<!-- navigation-->
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
