@model PagedList.IPagedList<JedjanguiWeb.Models.Membre>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            codeMembre
        </th>
        <th>
           Nom
        </th>
        <th>
           Date d'adhession
        </th>
       
        <th>
          STATUTMEMBRE
        </th>
        
        <th>
            TITREMEMBRE
        </th>
       
        <th>
           ELOGE
        </th>
        <th>
           MATRICULE
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.MEM_CODEMEMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMMEMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATEADEHSIONMEMEBRE)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.STATUTMEMBRE)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.TITREMEMBRE)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ELOGE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MATRICULE)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CODEMEMBRE }) |
                @Html.ActionLink("Details", "Details", new { id = item.CODEMEMBRE }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CODEMEMBRE })
            </td>
        </tr>
    }

</table>
