@model PagedList.IPagedList<JedjanguiWeb.Models.Membre>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Liste des memebres de l'association</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form class="form-group" action="~/Membre/Index">
    @Html.Label("Chercher")
    <input type="search" name="SearchString" value=@ViewBag.SearchString>
    <input type="submit" class="btn btn-default" />
</form>

<table class="table">
    <tr>

        <th>
          @Html.DisplayNameFor(model=>model.FirstOrDefault().CODEMEMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NOMMEMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DATEADEHSIONMEMEBRE)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().STATUTMEMBRE)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TITREMEMBRE)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ELOGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().MATRICULE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CODEMEMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMMEMBRE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATEADEHSIONMEMEBRE)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.STATUTMEMBRE)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TITREMEMBRE)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ELOGE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MATRICULE)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CODEMEMBRE }) |
                @Html.ActionLink("Details", "Details", new { id = item.CODEMEMBRE }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CODEMEMBRE })
            </td>
        </tr>
    }

</table>
<!-- navigation-->
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
