@model PagedList.IPagedList<JedjanguiWeb.Models.Association>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Liste des associations";
}

<h2>Liste des associations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form class="form-group" action="~/Association/Index">
    @Html.Label("Chercher")
    <input type="search" name="SearchString" value=@ViewBag.SearchString >
    <input type="submit" class="btn btn-default"  />
</form>
<table class="table  table-striped table-hover table-bordered">
    <tr>
        <th>
            Nom
        </th>

        <th>
           sigle
        </th>
        <th>
           dateajouté
        </th>

        <th>
            SLOGANASSO
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMASSO)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SIGLEASSO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATEAJOUTER)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SLOGANASSO)
            </td>


            <td>
                @Html.ActionLink("Ouvrir", "Ouvrir", new { id = item.CODEASSO }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.CODEASSO }) |
                @Html.ActionLink("Details", "Details", new { id = item.CODEASSO }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CODEASSO }) |
                @Html.ActionLink("Ouvrir", "Ouvrir", new { id = item.CODEASSO })
            </td>
        </tr>
    }

</table>
<!-- navigation-->
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))