@model PagedList.IPagedList<JedjanguiWeb.Models.Association>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = @JedjanguiWeb.Resources.Layout.Layout.TitreListeAssociation;
}

<h2>@JedjanguiWeb.Resources.Layout.Layout.TitreListeAssociation</h2>

<p>
    @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.TitreAjouter, "Create")
</p>
<form class="form-group" action="~/Association/Index">
    @Html.Label("Chercher")
    <input type="search" name="SearchString" value=@ViewBag.SearchString >
    <input type="submit" class="btn btn-default"  />
</form>
<table class="table  table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CODEASSO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NOMASSO)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SIGLEASSO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().DATECREATIONASS)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().SLOGANASSO)
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CODEASSO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMASSO)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SIGLEASSO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATECREATIONASS)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.SLOGANASSO)
        </td>


        <td>
            <a href=" @Url.Action("Ouvrir", "Association", new { id = item.CODEASSO })"><span class="glyphicon glyphicon-folder-open"></span></a> !
            <a href=" @Url.Action("Edit", "Association", new { id = item.CODEASSO })"><span class="glyphicon glyphicon-edit"></span></a> !
            <a href=" @Url.Action("Details", "Association", new { id = item.CODEASSO })"><span class="glyphicon glyphicon-list"></span></a> !
   <a href=" @Url.Action("Delete", "Association", new { id = item.CODEASSO })"><span class="glyphicon glyphicon-remove-circle"></span></a>

        </td>
    </tr>
    }

</table>
<!-- navigation-->
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))