@using JedjanguiWeb.Resources
@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JeDjangui</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    @Html.ActionLink("JedjanguiOnline", "Index", "Home", new { area = "" }, new { @class = "nav-band" })
                    <br />
                    @Html.Label(JedjanguiWeb.Resources.Layout.Layout.Description, new { @class = "" })
                </div>

            </div>
            <div class="navbar-collapse collapse text-center">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuHome, "Index", "Home")</li>

                    @if (Session["CODEASSO"] != null)
                    {
                        if (JedjanguiWeb.DesignPattern.Singleton.NbAssoUser > 1)
                        {
                            <li> @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuAssociation, "Index", "Association") </li>

                        }
                        <li> @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuMembre, "Index", "Membre") </li>
                        <li> @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuFond, "Index", "Fond") </li>
                        <li> @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuExercice, "Index", "Exercice") </li>

                    }

                </ul>
                @if (Session["CODEEXO"] != null)
                {
                    <div class="dropdown btn-group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownExercice" data-toggle="dropdown">
                            @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuExercice, "Index", "Exercice")
                            <span class="caret"></span>
                        </button>

                        <div class="dropdown-menu">
                            <li>@Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuInscris, "Inscris", "Exercice")</li>
                            <li>@Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuSoldeFund, "BalanceFond", "Fond")</li>
                            <li>@Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuSeance, "Index", "Seance", new { codeexo = Session["CODEEXO"].ToString() }, null)</li>
                        </div>

                    </div>
                }

                @if (Session["CODESEANCE"] != null)
                {
                    <div class=" dropdown btn-group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownSeance" data-toggle="dropdown">
                            @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuSeance, "Index", "Seance", new { codeexo = Session["CODEEXO"].ToString() }, null)

                            <span class="caret"></span>
                        </button>

                        <ul class=" dropdown-menu">
                            <li>@Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuSoldeFund, "Index", "FondSeance")</li>

                            <li>@Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuOperation, "Index", "FondSeance")</li>
                            <li>@Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuPresence, "Presence", "Seance")</li>
                        </ul>

                    </div>
                    <div class=" dropdown btn-group">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownSeance" data-toggle="dropdown">
                            @Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuPret, "Index", "Pret")

                            <span class="caret"></span>
                        </button>

                        <ul class=" dropdown-menu">
                            <li>@Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuPret, "Index", "Pret")</li>
                            <li>@Html.ActionLink(JedjanguiWeb.Resources.Layout.Layout.MenuRemboursement, "Index", "Remboursementpret", new { codeseance = Session["CODESEANCE"].ToString() }, new { @class = "" })</li>
                        </ul>
                    </div>

                }
                @Html.Partial("_LoginPartial")


            </div>

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>


            @if (Session["NOMASSO"] != null)
            {
                <p>
                    @Html.ActionLink(Session["NOMASSO"].ToString(), "Edit", "Association", new { id = Session["CODEASSO"].ToString() }, null)
                </p>
            }

            @{ var exo = "";
                var sc = "";
                if (Session["CODEEXO"] != null)
                {
                    exo = "Exercice: " + Session["CODEEXO"].ToString();
                }


                if (Session["CODESEANCE"] != null)
                {

                    sc = " Seance " + Session["CODESEANCE"].ToString();

                }

                if (Session["Email"] != null)
                {
                    @Session["Email"];
                }
            }

            @exo
            @sc
            @if (Request.IsAuthenticated)
            {
              var   @hc = User.Identity.GetUserName();
                <p>connecter :   @hc; </p>
              
            }
            <hr />
            <p class="text-center">&copy; @DateTime.Now.Year - ASENGO TECHNOLOGIES</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
