@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

    <div class=" nav col-lg-12">


        @if (Session["CODEASSO"] != null)
    {
        <ul class="navbar nav-justified">
            <li> @Session["CODEASSO"] </li>
            <li> @Html.ActionLink("Association", "Index", "Association") </li>
            <li> @Html.ActionLink("Membres", "Index", "Membre") </li>
            <li> @Html.ActionLink("Fonds", "Index", "Fond") </li>
        </ul>
       }
    </div>